{#include main.html }

<h1>New Random Round</h1>

{#if flash.error}
<div class="error-message">
    {flash.error}
</div>
{/if}

<form action="http://localhost:8080/rounds/newround/" enctype="multipart/form-data" method="POST" onsubmit="selectAllOptions('listbox2')">
    {#authenticityToken/}
    <div class="listbox-area">

        <div>
            <label for="listbox1">Not Present:</label>
            <select id="listbox1" class="listbox" multiple size="25">
                {#for player in playersNotPresent}
                <option value="{player.player_id}">{player.name}</option>
                {/for}
            </select>
        </div>

        <div class="buttons">
            <button type="button" onclick="moveSelectedOptions(listbox1, listbox2)"> > </button>
            <button type="button" onclick="moveSelectedOptions(listbox2, listbox1)"> < </button>
            <button type="button" onclick="moveAllOptions(listbox1, listbox2)"> >> </button>
            <button type="button" onclick="moveAllOptions(listbox2, listbox1)"> << </button>
        </div>

        <div>
            <label for="listbox2" >Present:</label>
            <select id="listbox2" name="listPlayersIds" class="listbox" multiple size="25">
                {#for player in playersPresent}
                <option value="{player.player_id}" selected>{player.name}</option>
                {/for}
            </select>
        </div>

    </div>

    <input type="submit" value="New random round">
</form>

{/include}