{#include main.html }

<h1>Rounds</h1>
<h4> Current Round </h4>
<hr>

<table class="d">
    <thead>
    <tr>
        <th>Date</th>
        <th>Games</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    {#for round in rounds}
    {#if ! round.isRoundFinished}
    <tr>
        <td>{round.date}</td>
        <td>
            {#for game in round.games}
            {game}<br>
            {/for}
        </td>
        <td>
            <a href="http://localhost:8080/rounds/closeround/{round.roundId}">Close</a>
            <a href="http://localhost:8080/rounds/delete/{round.roundId}">Delete</a>
        </td>
    </tr>
    {/if}
    {/for}
    </tbody>
</table>

<br>
<h4> Previous Rounds</h4>
<hr>
<table class="d">
    <thead>
    <tr>
        <th>Date</th>
        <th>Games</th>
    </tr>
    </thead>
    <tbody>
    {#for round in rounds}
    {#if round.isRoundFinished}
    <tr>
        <td>{round.date}</td>
        <td>
            {#for game in round.games}
            {game}<br>
            {/for}
        </td>
    </tr>
    {/if}
    {/for}
    </tbody>
</table>

{/include}