{#include main.html }

<h1>Games</h1>
<h4> Current Games </h4>
<hr>

{#if flash.error}
<div class="error-message">
    {flash.error}
</div>
{/if}

<table style="width: 75%;" class="d">
    <thead>
        <tr>
            <th style="width: 15%;" >Date</th>
            <th style="width: 40%;" >Players</th>
            <th style="width: 20%;" >Result</th>
            <th style="width: 5%;" >Confirm</th>
        </tr>
    </thead>
    <tbody>
    {#for gameView in gameViews}
    {#if !gameView.isFinished}
        <tr>
            <td>
                {gameView.date}
            </td>
            <td>
                <a href="http://localhost:8080/games/{gameView.gameId}">{gameView}</a>
            </td>
            <td>
                <select style="width: 80%;" id="dropdown_{gameView.gameId}">
                    <option value=""></option>
                    <option value="{gameView.player1id}"> {gameView.player1} </option>
                    <option value="{gameView.player2id}"> {gameView.player2} </option>
                    <option value="{gameView.player3id}"> {gameView.player3} </option>
                    {#if gameView.player4}
                        <option value="{gameView.player4id}"> {gameView.player4} </option>
                    {/if}
                    {#if gameView.player5}
                        <option value="{gameView.player5id}"> {gameView.player5} </option>
                    {/if}
                    <option value=0> Draw </option>
                </select>
            </td>
            <td>
                <button type="button" onclick="setwinner({gameView.gameId}, document.getElementById('dropdown_{gameView.gameId}').value)">Confirm</button>
            </td>
        </tr>
    {/if}
    {/for}
    </tbody>
</table>

<br>
<h4> Previous Games </h4>
<hr>

<table style="width: 50%;" class="d">
    <thead>
    <tr>
        <th style="width: 10%;" >Date</th>
        <th style="width: 40%;" >Players</th>
        <th style="width: 10%;" >Result</th>
    </tr>
    </thead>
    <tbody>
    {#for gameView in gameViews}
    {#if gameView.isFinished}
    <tr>
        <td>{gameView.date}</td>
        <td><a href="http://localhost:8080/games/{gameView.gameId}">{gameView}</a></td>
        <td>{gameView.result}</td>
    </tr>
    {/if}
    {/for}
    </tbody>
</table>

{/include}